.col-4 {
    width: 33%;
    border: solid 3px;
}

.col-6 {
    width: 50%;
     border: solid 3px;
}

.col-12 {
    width: 100%;
     border: solid 3px;
}

@media (min-width: 765px) and (max-width: 960px){
    .col-4 {
        width: 50%;
    }

    .col-6 {
        width: 100%;
    }
}

@media (max-width: 765px){
    .col-4 {
        width: 100%;
    }
}